<<<<<<< .merge_file_a00732
#itemsRow_Container > VBox{
    -fx-alignment: center;
    -fx-background-color: #f2a6a6;
    -fx-border-style: dashed;
    -fx-border-width: 3px;

    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-font-weight: bold;
=======
.vbox {
   -fx-background-color: red;
}

.label {
    -fx-text-fill: black;
>>>>>>> .merge_file_a07448
}